@import "~bootstrap";
@import "~font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

body, .login_container, .row {
  width: 100%;
}

textarea {
  resize: none;
}

.login_form {
  margin-top: 2em;
  overflow-x: -moz-scrollbars-none;
}

.app {
  height: 96vh;
  background-color: rgb(255,250,247);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  transition: all 0.2s linear;
  flex-flow: column;
  font-family: 'Roboto', Helvetica, sans-serif;
  //overflow-y: auto;
}

#lists {
  height: 94vh;
  display: flex;
  flex: 1;
  width: 100%;
  //overflow-y: auto;
}

#lists .list_placeholders {
  display: flex;
  flex-flow: column;
  flex: 1;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  height: 100%;
  min-height: 100px;
  padding: 8px;
  transition: all 0.2s linear;
  border-radius: 2px;
}

#lists .list_placeholders .list {
  position: relative;
  width: 100%;
  min-width: 150px;
  max-width: 300px;
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 8px 0 8px;
  transition: all 0.2s linear;
}

#lists .list_placeholders .list .list-item {
  position: relative;
  background-color: #F3F3F3;
  border-radius: 3px;
  padding: 23px 10px 10px 10px;
  text-align: left;
  margin: 6px 0 4px 0;
  min-width: 150px;
  max-width: 300px;
  color: rgba(0, 0, 0, 1);
  overflow-wrap: break-word;
}

#lists .list_placeholders .list .list-item .list-item-text {
  outline: none;
}

.input-container{
  padding: 8px;
  width: 100%;
  min-width: 150px;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.new-list-input-container{
  padding: 6px 8px;
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.input_item {
  background-color: transparent;
  //padding: 15px 20px;
  text-align: left;
  border: none;
  width: 100%;
  //min-width: 150px;
  //max-width: 300px;
  color: white;
  font-size: 16px;
  padding: 5px 5px 0 5px;
}

.input_item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.input_item::placeholder {
  color: white;
}

.input_item:focus {
  outline: none;
}

.input_item:focus::placeholder {
  color: transparent;
}

.list-heading {
  padding: 5px 5px 0 5px;
  font-size: medium;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.list-heading:focus {
  color: rgba(0, 0, 0, 1);
  background-color: whitesmoke;
}

.edit-button, .delete-button, .check-button {
  display: none;
}

.delete-button {
  position:absolute;
  top:0;
  right:0;
  margin: 4px;
  padding: 2px 3px;
}

.delete-button-invisible {
  position:absolute;
  top:0;
  right:0;
  margin: 4px;
  padding: 2px 3px;
  visibility: hidden;
}

.check-button {
  position:absolute;
  top:0;
  right: 0;
  margin: 4px;
  padding: 2px 3px;
}

.edit-button {
  position:absolute;
  top: 0;
  right: 20px;
  margin: 4px;
  padding: 3px;
}

.edit-button-invisible {
  position:absolute;
  top: 0;
  right: 20px;
  margin: 4px;
  padding: 3px;
  visibility: hidden;
}

.reset-button {
  position:absolute;
  top: 0;
  right: 0;
  margin: 4px;
  padding: 2px 3px;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#user_Register {
  background-color: #6c757d;
  border-color: #6c757d;
}

//#board-title {
//  color: whitesmoke;
//  font-size: medium;
//  background-color: rgb(52,58,64);
//  border:none;
//}

#board-title {
  color: whitesmoke;
  font-size: medium;
  background-color: rgba(0, 0, 0, 0.5);
  border:none;
}

#board-title::placeholder {
  color: whitesmoke;
}

#home-link {
  color: whitesmoke;
}

textarea, input {
  outline: none;
}

.board-column {
  height: 7em;
}

.board-card {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  border:none;
}

.board-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#add-board-card {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

#add-board-card:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.background-select {
  width: 3em;
  height: 3em;
  border-radius: 3px;
  background-size: cover;
  margin: 3px;
  border: none;
}

.selected {
  //border: 2px solid darkslategray;
}

body {
  background-color: ghostwhite;
}

.navbar-custom {
  height: 4vh;
}
