<div {{ stimulus_controller('card', {
    'cardText' : card.text,
    'cardId': card.id,
    'url' : path('edit_card', { id: card.id} )
}) }} >
    <div
            class="list-item"
            data-action="mouseover->card#cardOnMouseOver
            mouseout->card#cardOnMouseOut
            dragstart->drag-and-drop#dragStart
            dragend->drag-and-drop#dragEnd"
            data-drag-and-drop-target="card"
            id="card{{ card.id }}"
            data-card-target="listItem"
            draggable="true"
            contentEditable="false"
    >
        <div
                class="list-item-text"
                data-action=" focusout->card#cardLeftWithoutSubmission"
                data-card-target="listItemText"
                contentEditable="false"
        >{{ card.text }}</div>
            <i
                    class="fa fa-pencil-square-o edit-button"
                    data-action="click->card#cardOnClickToEdit"
                    data-card-target="edit"
                    contentEditable="false"
            ></i>
            <i
                    class="fa fa-check check-button"
                    data-card-target="check"
                    data-action="click->card#cardCheckPressed"
                    contentEditable="false"
            ></i>
            <i
                    class="fa fa-trash-o delete-button"
                    data-action="click->card#cardOnClickToDelete"
                    data-card-target="delete"
                    contentEditable="false"
            ></i>
    </div>
</div>